<mat-card>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <form *ngIf="!isLoading" (submit)="onLogin(loginForm)" #loginForm="ngForm">
    <mat-form-field>
      <input matInput name="email" ngModel type="email" placeholder="E-Mail" #emailInput="ngModel" required email>
      <mat-error *ngIf="emailInput.invalid">Please enter a Valid Email</mat-error>
    </mat-form-field>

    <mat-form-field>
      <input type="password" name="password" ngModel #passwordInput="ngModel" required matInput placeholder="Password" >
      <mat-error *ngIf="passwordInput.invalid">Please enter a Valid Password</mat-error>
    </mat-form-field>
    <button mat-raised-button color="primary" type="submit">Login</button>
  </form>
</mat-card>
