<mat-card>
 <mat-spinner *ngIf="isLoading"></mat-spinner>
 <form [formGroup]="form"(submit)="onSavePost()"  *ngIf="!isLoading">
    <mat-form-field>
        <input matInput
        type="text"
        formControlName="title"
        placeholder="Title">
        <mat-error *ngIf="form.get('title').invalid">Please enter a post title</mat-error>
      </mat-form-field>

      <div>
        <button mat-stroked-button type="button" (click)="filePicker.click()">Pick Image</button>
        <input type="file" #filePicker (change)="onImagePicked($event)">
      </div>

      <div class="image-preview" *ngIf="imagePreview !== '' && imagePreview && form.get('image').valid">
        <img [src]="imagePreview" [alt]="form.value.title">
      </div>

      <mat-form-field>
        <textarea matInput
        rows="6"
        formControlName="content"
        placeholder="Content"></textarea>
        <mat-error *ngIf="form.get('content').invalid">Please enter a post content</mat-error>
      </mat-form-field>
      <button mat-raised-button color="primary" type="submit">Save Post</button>
 </form>
</mat-card>
